<h1>The let's get destroy cocktail</h1>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category">Name</div>
            <div class="card-description">
                <h4><%= cocktail.name%>

                </h4>
              </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <a class="card-link" href="#" ></a>
        </div>
        <%= link_to "Remove cocktail", cocktail_path(cocktail), method: :delete%>
        <%= link_to "More details", cocktail_path(cocktail)%>
      </div>

    <%end%>
  </div>
</div>

